<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

        <servlet>
            <servlet-name>fetchStudent</servlet-name>
            <servlet-class>com.example.StudentManagementSystemTask1.StudentFetch</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>fetchStudent</servlet-name>
            <url-pattern>/fetchStudent</url-pattern>
        </servlet-mapping>

        <servlet>
            <servlet-name>addStudent</servlet-name>
            <servlet-class>com.example.StudentManagementSystemTask1.AddStudent</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>addStudent</servlet-name>
            <url-pattern>/addStudent</url-pattern>
        </servlet-mapping>

        <servlet>
            <servlet-name>search</servlet-name>
            <servlet-class>com.example.StudentManagementSystemTask1.SearchStudent</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>search</servlet-name>
            <url-pattern>/searchStudent</url-pattern>
        </servlet-mapping>

        <servlet>
            <servlet-name>delete</servlet-name>
            <servlet-class>com.example.StudentManagementSystemTask1.DeleteStudent</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>delete</servlet-name>
            <url-pattern>/DeleteStudent</url-pattern>
        </servlet-mapping>

    
        <welcome-file-list>
            <welcome-file>index.jsp</welcome-file>
        </welcome-file-list>
    
</web-app>